
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  margin-top: 30px;
  /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); */
}

.pagination-button {
  background-color: #fff;
  color: #24282A;
  border: 1px solid black;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: uppercase;
}


.pagination-button:disabled {
  color: #666;
  cursor: not-allowed;
}

.active {
  background-color: #24282A;
  color: #fff;
}


@media only screen and (max-width: 1200px) {
   .page{
    margin-top: 10px;
   }
}


@media only screen and (max-width: 768px) {
  .pagination-button {
    padding: 6px 8px;
    font-size: 12px;
    padding-bottom: 10px;
  }
}

