.productCard {
  width: 25%;
  /* border: 0.5px solid #ccc; */
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  display: grid;

}

.prodImg {
  mix-blend-mode: multiply;
  display: block;
  width: 80%;
  height: auto;
  padding-bottom: 20%;
  /* padding-bottom: 140%; */
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.prodImg img {
  max-width: 100%;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.prodDetails {
  padding: 10px 0 0;
  text-align: left;
  font-size: 100%;
}

.prodDetails h4 {
  font-size: 16px;
  letter-spacing: .75px;
  line-height: 20px;
  color: #24282A;
  font-weight: 600;
  font-family: 'GT-America-bold';
}

.prodDetails h3 {
  font-size: 16px;
  letter-spacing: .75px;
  line-height: 20px;
  font-weight: 800;
  color: #24282A;
  font-family: GT-America-bold;
}

.prodDetails small{
    color: #000;
    font-weight: 400;
    font-family: 'GT-America-light';
    margin: auto;
    margin-right: 0.5rem;
}

.prodDetails div {
  display: inline-flex;
}

.productCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media only screen and (max-width:768px)
{
  .productCard{
    width: 33.3%;
  }
}

@media only screen and (max-width:480px)
{
  .productCard{
    width: 50%;
  }

  .prodDetails h4 h3{
    font-size: 12px;
  }
}

